{% extends 'base.html' %}

{% block title %} Courses {% endblock %}


{% block content %}

Student {{result.first_name}} {{result.last_name}} on such course as: <br>

{% for elements in result.course %}

{{elements.name}}
<a href="{{url_for('show_courses', delete_from_course=elements.id, id = result.id)}}"> Kick out from course </a> <br>

{% endfor %}

<br>
Add to course:
<br>
{% for course in all_courses %}

{% if course in result.course%}

{% else %}

{{course.name}}
<a href="{{url_for('show_courses', id=result.id, course_id=course.id)}}"> Add to course </a> <br>

{%endif%}
{% endfor %}

{% endblock %}